.app{
 /* border: solid 2px black;*/

}
.app-section{
  /*border: solid 2px rgb(0, 255, 4);*/

}
.app-container{
 /* border: solid 2px magenta;
  background-color: magenta;*/
  padding: 20px;

}

/*card*/
.app-grid{

 /* border: solid 2px blue;*/
   display: grid;
 /*  grid-template-columns: repeat(auto-fill,minmax(150px,1fr));*/
   grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
   row-gap: 60px;
   align-items: center;
   justify-items: center;
   margin: 20px;
   
 }